@charset "utf-8";

/* CSS Document */

body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
td,
img,
div,
dl,
dt,
dd,
input {
    margin: 0;
    padding: 0;
    border: 0;
}

table {
    border-collapse: collapse;
}



/* Avenir */
/* @font-face {
font-family:'Avenir';
src:url("../font/Avenir/Avenir LT 65 Medium.eot");
}
@font-face {
font-family:'Avenir';
src:url("../font/Avenir/Avenir LT 65 Medium.ttf");
}
@font-face {
font-family:'Avenir';
src:url("../font/Avenir/Avenir LT 65 Medium.woff2");
}
@font-face {
font-family:'Avenir';
src:url("../font/Avenir/AvenirLT-Medium.woff");
}
Avenir Roman
@font-face {
font-family:'Avenir Roman';
src:url("../font/AvenirRoman/AvenirLTStd-Roman.otf");
}
@font-face {
font-family:'Avenir';
src:url("../font/AvenirRoman/AvenirLTStd-Roman.ttf");
}
@font-face {
font-family:'Avenir';
src:url("../font/AvenirRoman/AvenirLTStd-Roman.woff");
}
@font-face {
font-family:'Avenir';
src:url("../font/AvenirRoman/AvenirLTStd-Roman.svg");
}
@font-face {
font-family:'Avenir';
src:url("../font/AvenirRoman/AvenirLTStd-Roman.eot");
}
Raleway
@font-face {
  font-family: 'Raleway';
  src: url('../font/Raleway/Raleway-Regular.eot');
}
@font-face {
  font-family: 'Raleway';
  src: url('../font/Raleway/Raleway-Regular.woff2');
}
@font-face {
  font-family: 'Raleway';
  src: url('../font/Raleway/Raleway.ttf');
}
@font-face {
  font-family: 'Raleway';
  src: url('../font/Raleway/Raleway.woff');
}
Raleway
@font-face {
  font-family: 'Monaco';
  src: url('../font/Monaco/Monaco.eot');
}
@font-face {
  font-family: 'Monaco';
  src: url('../font/Monaco/Monaco.woff2');
}
@font-face {
  font-family: 'Monaco';
  src: url('../font/Monaco/Monaco.ttf');
}
@font-face {
  font-family: 'Monaco';
  src: url('../font/Monaco/Monaco.woff');
} */
body{
  /* width:100%;
  overflow-x: hidden; */
}

* {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
html {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    font-family:Arial,'SimHei';
    width: 100%;
}
*{
    font-family:Arial,'SimHei';
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -moz-tap-highlight-color:rgba(0,0,0,0);
    -o-tap-highlight-color:rgba(0,0,0,0);
}
img {
    border:none;
}
li {
    list-style:none;
}
input,
select,
textarea {
    outline:none;
}
textarea {
    resize:none;
}
a {
    text-decoration:none;
}

/*清除浮动*/
.clear:after {
    content:'';
    display:block;
    clear:both;
}
.clear {
    zoom:1;
}
.fl {
    float:left;
    /*设置左浮动*/
}
.fr {
    float:right;
    /*设置右浮动*/
}
.text-left {
    text-align:left;
}
.text-center {
    text-align:center;
}
.text-right {
    text-align:right;
}
input[placeholder], [placeholder], *[placeholder] { 
color:#fff !important; 
} 