div.proDetail div.pro_banner {
  height: 24rem;
  background: url('../../../static/img/product_banner.jpg') no-repeat center center;
  background-size: cover;
}
div.proDetail div.protit {
  width: 67.5rem;
  margin: 0 auto;
  height: 3.5rem;
  line-height: 3.5rem;
  border-bottom: 1px solid #d9dadb;
  font-size: 0px;
}
@media screen and (max-width: 767px) {
  div.proDetail div.protit {
    display: none;
  }
}
div.proDetail div.protit a {
  font-size: 14px;
  color: #0078f0;
  display: inline-block;
}
div.proDetail div.protit a span {
  color: #333;
}
div.proDetail div.protit span {
  font-size: 14px;
  display: inline-block;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}
div.proDetail div.part div.title {
  margin-bottom: 2.5rem;
  text-align: center;
  padding-top: 2rem;
}
@media screen and (max-width: 767px) {
  div.proDetail div.part div.title h4 {
    font-size: 1.8rem !important;
  }
  div.proDetail div.part div.title p {
    font-size: 1.2rem !important;
  }
}
div.proDetail div.part div.title h4 {
  font-size: 34px;
  color: #0078f0;
  line-height: 2.6rem;
  margin-bottom: 1rem;
  font-weight: normal;
}
div.proDetail div.part div.title p {
  font-size: 18px;
  color: #666;
  line-height: 2.1rem;
}
div.proDetail div.part01 div.cont {
  width: 67.5rem;
  margin: 0 auto;
  padding-bottom: 4rem;
}
@media screen and (max-width: 767px) {
  div.proDetail div.part01 div.cont {
    padding-bottom: 0;
    width: 100%;
  }
  div.proDetail div.part01 div.cont div.txt {
    width: 100% !important;
  }
  div.proDetail div.part01 div.cont div.txt div:nth-child(2) {
    margin: 0 auto;
  }
  div.proDetail div.part01 div.cont div.txt div:nth-child(2) img {
    width: 100%;
  }
}
div.proDetail div.part01 div.cont div.txt {
  width: 35rem;
  max-width: 92.5%;
  display: inline-block;
}
div.proDetail div.part01 div.cont div.txt h4 {
  padding-bottom: 3rem;
  padding-top: 2.5rem;
  font-size: 30px;
  line-height: 1;
  font-weight: normal;
  color: #333;
}
@media screen and (max-width: 767px) {
  div.proDetail div.part01 div.cont div.txt h4 {
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    padding-top: 0;
    font-size: 1.8rem !important;
  }
}
div.proDetail div.part01 div.cont div.txt h4 span.line {
  display: inline-block;
  width: 3px;
  height: 1.4rem;
  background: #0078f0;
  margin-right: 1rem;
}
div.proDetail div.part01 div.cont div.txt div.item {
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 767px) {
  div.proDetail div.part01 div.cont div.txt div.item {
    padding-left: 2.5rem;
  }
  div.proDetail div.part01 div.cont div.txt div.item div.tit {
    font-size: 1.5rem !important;
  }
  div.proDetail div.part01 div.cont div.txt div.item div {
    font-size: 1.1rem !important;
  }
}
div.proDetail div.part01 div.cont div.txt div.item div.tit {
  font-size: 24px;
  color: #0078f0;
  line-height: 1.5rem;
  margin-bottom: 1.2rem;
  position: relative;
}
div.proDetail div.part01 div.cont div.txt div.item div.tit i.iconfont {
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
}
div.proDetail div.part01 div.cont div.txt div.item div {
  font-size: 18px;
  color: #333;
  line-height: 1.9rem;
  padding-left: 2.4rem;
}
div.proDetail div.part01 div.cont div.txt div.item div.option {
  display: none;
}
div.proDetail div.part01 div.cont div.fr {
  width: 28.5rem;
  height: 30rem;
  float: right;
}
div.proDetail div.part01 div.cont div.fr div.img {
  width: 15rem;
  margin: 0 auto;
}
div.proDetail div.part01 div.cont div.fr div.img img {
  width: 100%;
}
div.proDetail div.part02 {
  background: #f7faf9;
  padding-top: 2.8rem;
}
@media screen and (max-width: 767px) {
  div.proDetail div.part02 {
    padding-top: 0;
  }
}
div.proDetail div.part02 div.title h4 {
  font-size: 32px;
  color: #333;
  line-height: 3.9rem;
}
div.proDetail div.part02 div.title span.line {
  width: 3.3rem;
  height: 3px;
  background: #0078f0;
  margin: 0 auto;
  display: block;
}
div.proDetail div.part02 div.cont {
  padding-left: 5rem;
  padding-right: 5rem;
  font-size: 0px;
}
@media screen and (max-width: 767px) {
  div.proDetail div.part02 div.cont {
    padding: 0 1.5rem;
  }
  div.proDetail div.part02 div.cont div.item {
    width: 100% !important;
    padding: 0 0 !important;
    padding-bottom: 1.5rem !important;
    text-align: left !important;
  }
  div.proDetail div.part02 div.cont div.item i {
    float: none;
  }
  div.proDetail div.part02 div.cont div.item p.tit {
    float: none;
    margin-left: 1rem;
    margin-top: .5rem !important;
    font-size: 1.5rem !important;
    display: inline-block;
  }
  div.proDetail div.part02 div.cont div.item p.cnt {
    padding-left: 5%;
    font-size: 1.2rem !important;
  }
  div.proDetail div.part02 div.cont div.item p:last-child {
    clear: both;
    padding-left: 3.5rem;
    text-align: left;
    font-size: 1rem;
  }
  div.proDetail div.part02 div.cont div.item p:last-child br {
    display: none;
  }
}
div.proDetail div.part02 div.cont div.item {
  width: 25%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding-bottom: 3.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
div.proDetail div.part02 div.cont div.item i.iconfont {
  font-size: 2.5rem;
  background: -moz-linear-gradient(left, #63b0f7, #5ce4b9);
  background: -webkit-linear-gradient(left, #63b0f7, #5ce4b9);
  background: -o-linear-gradient(left, #63b0f7, #5ce4b9);
  background: -ms-lintear-gradient(left, #63b0f7, #5ce4b9);
  FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#63b0f7', endColorStr='#5ce4b9');
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
div.proDetail div.part02 div.cont div.item p {
  font-size: 16px;
  color: #333;
  line-height: 1.6rem;
}
div.proDetail div.part02 div.cont div.item p.tit {
  font-size: 22px;
  line-height: 1;
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
  color: #0078f0;
}
div.proDetail div.part03 {
  width: 67.5rem;
  margin: 0 auto;
  padding-top: 2.5rem;
  padding-bottom: 4.5rem;
  font-size: 0px;
}
@media screen and (max-width: 767px) {
  div.proDetail div.part03 {
    width: 100% !important;
  }
}
div.proDetail div.part03 div.img {
  width: 32rem;
  height: 40rem;
  display: inline-block;
  vertical-align: top;
  background: url('../../../static/img/product02.jpg') no-repeat center center;
  background-size: contain;
}
div.proDetail div.part03 div.code {
  display: inline-block;
  vertical-align: top;
  margin-left: 14rem;
  margin-top: 12rem;
  text-align: center;
}
@media screen and (max-width: 767px) {
  div.proDetail div.part03 div.code {
    margin-top: 5rem;
    display: block;
    margin-left: 0;
  }
}
div.proDetail div.part03 div.code div.img_code {
  display: block;
  width: 15rem;
  height: 15rem;
  margin: 0 auto;
}
div.proDetail div.part03 div.code div.img_code img {
  width: 100%;
}
div.proDetail div.part03 div.code p {
  font-size: 24px;
  color: #0078f0;
  margin-top: 2rem;
}
@media screen and (max-width: 767px) {
  div.proDetail div.part03 div.code p {
    font-size: 1.2rem;
  }
}
