div.proApp div.protit {
  width: 67.5rem;
  margin: 0 auto;
  height: 3.5rem;
  line-height: 3.5rem;
  border-bottom: 1px solid #d9dadb;
  font-size: 0px;
}
div.proApp div.protit a {
  font-size: 14px;
  color: #0078f0;
  display: inline-block;
}
div.proApp div.protit a span {
  color: #333;
}
div.proApp div.protit span {
  font-size: 14px;
  display: inline-block;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}
div.proApp div.container div.title {
  margin-bottom: 2.5rem;
  text-align: center;
  padding-top: 2rem;
}
div.proApp div.container div.title h4 {
  font-size: 34px;
  color: #0078f0;
  line-height: 2.6rem;
  margin-bottom: 1rem;
  font-weight: normal;
}
div.proApp div.container div.title p {
  font-size: 18px;
  color: #666;
  line-height: 2.1rem;
}
div.proApp div.container div.part01 {
  background: #f7faf9;
}
div.proApp div.container div.part01 div.title h4 {
  font-size: 32px;
  color: #333;
  line-height: 3.9rem;
}
div.proApp div.container div.part01 div.title span.line {
  width: 3.3rem;
  height: 3px;
  background: #0078f0;
  margin: 0 auto;
  display: block;
}
div.proApp div.container div.part01 p.wenzi {
  font-size: 14px;
  color: #666;
  text-align: center;
  margin-bottom: 3rem;
}
div.proApp div.container div.part01 ul {
  text-align: center;
  padding-bottom: 3rem;
}
div.proApp div.container div.part01 ul li {
  display: inline-block;
  text-align: center;
  max-width: 30%;
  width: 9rem;
  vertical-align: top;
}
div.proApp div.container div.part01 ul li div {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  border: 1px solid #0078f0;
  color: #0078f0;
  line-height: 4rem;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
div.proApp div.container div.part01 ul li p {
  font-size: 16px;
  color: #333;
  letter-spacing: .5px;
}
div.proApp div.container div.part02 div.title h4 {
  font-size: 32px;
  color: #333;
  line-height: 3.9rem;
}
div.proApp div.container div.part02 div.title span.line {
  width: 3.3rem;
  height: 3px;
  background: #0078f0;
  margin: 0 auto;
  display: block;
}
div.proApp div.container div.part02 div.container div.item {
  height: 15.5rem;
}
div.proApp div.container div.part02 div.container div.item:first-child,
div.proApp div.container div.part02 div.container div.item:nth-child(3),
div.proApp div.container div.part02 div.container div.item:nth-child(5),
div.proApp div.container div.part02 div.container div.item:nth-child(7) {
  background: #f7faf9;
}
div.proApp div.container div.part02 div.container div.item:last-child div.item_main div.pic,
div.proApp div.container div.part02 div.container div.item:nth-child(2) div.item_main div.pic,
div.proApp div.container div.part02 div.container div.item:nth-child(4) div.item_main div.pic,
div.proApp div.container div.part02 div.container div.item:nth-child(6) div.item_main div.pic {
  float: right;
  margin-left: 7rem;
  margin-right: 0;
  transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
}
div.proApp div.container div.part02 div.container div.item div.item_main {
  width: 58rem;
  margin: 0 auto;
  padding-top: 2.5rem;
  transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
}
div.proApp div.container div.part02 div.container div.item div.item_main div.pic {
  float: left;
  width: 21rem;
  margin-right: 7rem;
  transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
}
div.proApp div.container div.part02 div.container div.item div.item_main div.pic img {
  max-width: 100%;
  max-height: 13rem;
}
div.proApp div.container div.part02 div.container div.item div.item_main div.content {
  float: left;
  width: 30rem;
}
div.proApp div.container div.part02 div.container div.item div.item_main div.content p {
  font-size: 14px;
  color: #333;
  line-height: 1.5rem;
}
div.proApp div.container div.part02 div.container div.item div.item_main div.content p.tit {
  color: #0078f0;
  font-size: 22px;
  margin: 1.5rem 0;
}
div.proApp div.container div.part02 div.container div.active:last-child div.item_main div.pic,
div.proApp div.container div.part02 div.container div.active:nth-child(2) div.item_main div.pic,
div.proApp div.container div.part02 div.container div.active:nth-child(4) div.item_main div.pic,
div.proApp div.container div.part02 div.container div.active:nth-child(6) div.item_main div.pic {
  margin-left: 4rem;
  float: right ;
  margin-right: 0;
  transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
}
div.proApp div.container div.part02 div.container div.active div.item_main div.pic {
  transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  margin-right: 4rem;
}
div.proApp div.container div.part03 div.title h4 {
  font-size: 32px;
  color: #333;
  line-height: 3.9rem;
}
div.proApp div.container div.part03 div.title span.line {
  width: 3.3rem;
  height: 3px;
  background: #0078f0;
  margin: 0 auto;
  display: block;
}
div.proApp div.container div.part03 div.container {
  width: 46.6rem;
  margin: 0 auto;
  padding-bottom: 3.5rem;
}
div.proApp div.container div.part03 div.container > div {
  width: 23.3rem;
  float: left;
}
div.proApp div.container div.part03 div.container div.code {
  text-align: center;
}
div.proApp div.container div.part03 div.container div.code p {
  margin-top: .5rem;
  font-size: 20px;
}
div.proApp div.container div.part03 div.container div.code p a {
  color: #0078f0;
}
div.proApp div.container div.part03 div.container div.phone {
  padding-top: 4.5rem;
}
div.proApp div.container div.part03 div.container div.phone div.item {
  display: inline-block;
}
div.proApp div.container div.part03 div.container div.phone div.item:first-child {
  margin-left: 3.5rem;
  margin-right: 5.5rem;
}
div.proApp div.container div.part03 div.container div.phone div.item:last-child {
  position: relative;
  top: .2rem;
}
@media screen and (max-width: 768px) {
  div.proApp div.title h4 {
    font-size: 2rem !important;
  }
  div.proApp div.title p {
    font-size: 1.2rem !important;
  }
  div.proApp div.part01 div.title h4 {
    font-size: 1.8rem !important;
  }
  div.proApp div.part01 > p {
    font-size: 1.2rem !important;
    padding: 0 1rem;
  }
  div.proApp div.part01 ul li p {
    font-size: 1rem !important;
  }
  div.proApp div.part02 div.title h4 {
    font-size: 2rem !important;
  }
  div.proApp div.part02 div.title span.line {
    width: 3.3rem;
    height: .15rem;
    background: #0078f0;
    margin: 0 auto;
    display: block;
  }
  div.proApp div.part02 div.container div.item {
    height: 31rem !important;
  }
  div.proApp div.part02 div.container div.item.active > div.pic {
    margin: 0 auto !important;
  }
  div.proApp div.part02 div.container div.item div.item_main {
    width: 100% !important;
  }
  div.proApp div.part02 div.container div.item div.item_main > div {
    float: inherit !important;
  }
  div.proApp div.part02 div.container div.item div.item_main div.pic {
    margin: 0 auto !important;
  }
  div.proApp div.part02 div.container div.item div.item_main div.content {
    padding-left: 2rem;
  }
  div.proApp div.part03 div.container {
    width: 100% !important;
  }
  div.proApp div.part03 div.container > div {
    width: 50% !important;
  }
  div.proApp div.part03 div.container div.code img {
    max-width: 100%;
  }
  div.proApp div.part03 div.container div.code p {
    font-size: 1.2rem !important;
    text-align: center;
  }
  div.proApp div.part03 div.container div.phone {
    padding-top: 4.5rem;
  }
  div.proApp div.part03 div.container div.phone img {
    max-width: 100%;
  }
  div.proApp div.part03 div.container div.phone div.item {
    display: inline-block;
    width: 5rem;
  }
  div.proApp div.part03 div.container div.phone div.item:first-child {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
  div.proApp div.part03 div.container div.phone div.item:last-child {
    position: relative;
    top: .2rem;
  }
}
