/* 产品详情 */
@basic: #0078f0;
div.proDetail{
	div.pro_banner{
		height: 24rem;
		background: url('../../../static/img/product_banner.jpg') no-repeat center center;
		background-size: cover;
	}
	div.protit{
		width: 67.5rem;
		margin: 0 auto;
		height: 3.5rem;
		line-height: 3.5rem;
		border-bottom: 1px solid #d9dadb;
		font-size: 0px;
		@media screen and (max-width:767px){
			display: none;
		}
		a{
			font-size: 14px;
			color: #0078f0;
			display: inline-block;
			span{
				color: #333;
			}
		}
		span{
			font-size: 14px;
			display: inline-block;
			margin-left: 0.4rem;
			margin-right: 0.4rem;
		}
	}
	div.part{
		div.title{
			margin-bottom: 2.5rem;
			text-align: center;
			padding-top: 2rem;
			width: 67.5rem;
			margin: 0 auto;
			margin-bottom:2.5rem;
			@media screen and (max-width:767px){
				h4{
					font-size: 1.8rem !important;
				}
				p{
					font-size: 1.2rem !important;
				}
			}
			h4{
				font-size: 34px;
				color: #0078f0;
				line-height: 2.6rem;
				margin-bottom: 1rem;
				font-weight: normal;
			}
			p{
				font-size: 18px;
				color: #666;
				line-height: 2.1rem;
			}
		}
	}
	div.part01{
		div.cont{
			width: 67.5rem;
			margin: 0 auto;
			padding-bottom: 4rem;
			@media screen and (max-width:767px) {
				padding-bottom: 0;
				width: 100%;
				div.txt{
					width: 100% !important;
					div{
						&:nth-child(2){
							margin: 0 auto;
							img{
								width: 100%;
							}
						}
					}
				}
			}
			div.txt{
				width: 35rem;
				max-width: 92.5%;
				display: inline-block;
				h4{
					padding-bottom: 3rem;
					padding-top: 2.5rem;
					font-size: 30px;
					line-height: 1;
					font-weight: normal;
					color: #333;
					@media screen and (max-width:767px) {
						padding-bottom: 2rem;
						padding-left: 1.5rem;
						padding-top: 0;
						font-size: 1.8rem !important;
					}
					span.line{
						display: inline-block;
						width: 3px;
						height: 1.4rem;
						background: #0078f0;
						margin-right: 1rem;
					}
				}
				div.item{
					@media screen and (max-width:767px) {
						padding-left: 2.5rem;
						div.tit{
							font-size: 1.5rem !important;
						}
						div{
							font-size: 1.1rem !important;
						}
					}
					margin-bottom: 2.5rem;
					div.tit{
						font-size: 20px;
						color: #0078f0;
						line-height: 1.5rem;
						margin-bottom: 1.2rem;
						position: relative;
						i.iconfont{
							position: absolute;
							left: 0px;
							top: 0px;
							display:block;
							width: 1.5rem;
							height: 1.5rem;
							font-size:1.4rem;
						}
					}
					div{
						font-size:14px;
						color: #333;
						line-height: 1.7rem;
						padding-left: 2.4rem;
					}
					div.option{
						display: none;
					}
				}
			}
			div.fr{
				width: 28.5rem;
				height: 30rem;
				float: right;
				div.img{
					width: 15rem;
					margin: 0 auto;
					img{
						width: 100%;
					}
				}
			}
		}
	}
	div.part02{
		background: #f7faf9;
		padding-top:2.8rem;
		@media screen and (max-width:767px) {
			padding-top: 0;
		}
		div.title{
			h4{
				font-size: 32px;
				color: #333;
				line-height: 3.9rem;
			}
			span.line{
				width: 3.3rem;
				height: 3px;
				background: #0078f0;
				margin: 0 auto;
				display: block;
			}
		}
		div.cont{
			padding-left: 0rem;
			padding-right: 0rem;
			font-size:0px;
			width:75rem;
			margin: 0 auto;
			@media screen and (max-width:767px) {
				width: 100%;
				padding:0 1.5rem;
				div.item{
					width:100% !important;
					padding: 0 0 !important;
					padding-bottom: 1.5rem !important;
					text-align: left !important;
					i{
						float: none;
					}
					p.tit{
						float: none;
						margin-left: 1rem;
						margin-top: .5rem !important;
						font-size: 1.5rem !important;
						display: inline-block;
					}
					p.cnt{
						padding-left: 3.5rem;
						font-size: 1.2rem !important;
					}
					p{
						&:last-child{
							clear: both;
					    padding-left: 3.5rem;
					    text-align: left;
					    font-size: 1rem;
					    	br{
					    		display: none;
					    	}
						}

					}
				}
			}
			div.item{
				width: 22%;
				font-size:16px;
				display: inline-block;
				vertical-align: top;
				text-align: center;
				padding-bottom: 3.5rem;
				padding-left: 0rem;
				padding-right: 0rem;
				margin-right:4%;
				&:nth-child(4n+4){
					margin-right:0px;
				}

				i.iconfont{
					font-size: 2.5rem;
					background:-moz-linear-gradient(left, #63b0f7, #5ce4b9);
					background:-webkit-linear-gradient(left, #63b0f7, #5ce4b9);
					background:-o-linear-gradient(left, #63b0f7, #5ce4b9);
					background: -ms-lintear-gradient(left, #63b0f7, #5ce4b9);
					FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#63b0f7', endColorStr='#5ce4b9');
					-webkit-background-clip:text;
					-webkit-text-fill-color: transparent;
				}
				p{
					font-size: 14px;
					color: #333;
					line-height: 1.7rem;
					text-align:justify;
				}
				p.tit{
					font-size: 20px;
					line-height: 1;
					margin-top: 1.5rem;
					margin-bottom: 0.8rem;
					color: #0078f0;
					text-align:center;
				}
			}
		}
	}
	div.part03{
		width: 67.5rem;
		margin: 0 auto;
		padding-top:2.5rem;
		padding-bottom: 4.5rem;
		font-size: 0px;
		@media screen and (max-width:767px) {
			width: 100% !important;
		}
		div.img{
			width: 32rem;
			height:40rem;
			display: inline-block;
			vertical-align: top;
			background: url('../../../static/img/product02.jpg') no-repeat center center;
			background-size: contain;
			@media screen and (max-width:767px) {
				width: 100%;
			}
		}
		div.code{
			display: inline-block;
			vertical-align: top;
			margin-left: 14rem;
			margin-top: 12rem;
			text-align: center;
			@media screen and (max-width:767px) {
				margin-top: 5rem;
				display: block;
				margin-left: 0;
			}
			div.img_code{
				display: block;
				width: 15rem;
				height: 15rem;
				margin: 0 auto;
				img{
					width: 100%;
				}
			}
			p{
				font-size: 22px;
				color: #0078f0;
				margin-top: 2rem;
				@media screen and (max-width:767px) {
				font-size: 1.2rem;
			}
			}
		}
	}
	@media screen and (max-width:767px){
		div.part{
			div.title{
				width: 100%;
			}
		}
	}
}
/* HR SAAS */
div.productSaas{
	.container {
		width: 67.5rem;
		max-width: 90%;
		margin: auto;
		&:after {
			content: '';
			display: block;
			clear: both;
		}
	}
	.tab {
		line-height: 3.7rem;
		border-bottom: 1px solid #d9dadb;
		font-size: 14px;
		color: #333;
		.tab-hasNext {
			color: @basic;
			&:after {
				content: " > ";
				color: #333;
			}
		}
	}
	.title {
		padding-top: 2.5rem;
		font-size: 34px;
		line-height: 1.7rem;
		color: @basic;
		margin-bottom: 1.5rem;
		text-align: center;
	}
	.intro {
		font-size: 18px;
		color: #666;
		margin-bottom: 3rem;
		text-align: center;
	}
	.content-title {
		text-align: center;
		padding-top: 3rem;
		margin-bottom: 3rem;
		font-size: 30px;
		color: #333;
		&:after {
			content: '';
			margin: 1.2rem auto 0;
			display: block;
			width: 3.3rem;
			height: 3px;
			background: @basic;
			margin-bottom: 3rem;
		}
	}
	.content {
		background: #f7f9fa;
		padding-bottom: 2.8rem;
		.img {
			float: left;
			width: 27.5rem;
			max-width: 100%;
			margin-right: 5.7rem;
			img {
				width: 100%;
			}
		}
		.content-intro {
			font-size: 14px;
			color: #666;
			margin-top: 7rem;
			margin-left: 33.2rem;
			line-height: 1.7rem;
		}
	}
	.content-2 {
		.card-group {
			width: 60rem;
			margin: 0 auto 4rem;
			.card {
				float: left;
				width: 50%;
				padding: 0 2.4rem;
				i {
					font-size: 3rem;
					text-align: center;
					color: @basic;
					display: block;
					margin-bottom: 2.5rem;
				}
				.card-title {
					font-size: 22px;
					color: @basic;
					text-align: center;
					margin-bottom: 1.5rem;
				}
				.card-content {
					font-size: 14px;
					color: #666;
					line-height: 1.7rem;
					text-align: justify;
				}
			}
			&:after {
				content: '';
				display: block;
				clear: both;
			}
		}
	}
	.content-3 {
		background: #f7f9fa;
		padding-bottom: 4rem;
		.box {
			position: relative;
			width: 100%;
			height: 29.5rem;
			.box-bg {
				position: absolute;
				top: 0; bottom: 0;
				left: 0; right: 0;
				height: 100%;
				margin: auto;
			}
			.item {
				position: absolute;
				top: 0; bottom: 0;
				left: 0; right: 0;
				margin: auto;
				width: 25rem;
				.item-img {
					position: absolute;
					width: 1.7rem;
					img {
						width: 100%;
					}
				}
				.item-title {
					color: @basic;
					font-size: 20px;
					line-height: 1.8rem;
					margin-bottom: 1.15rem;
				}
				.item-content {
					font-size: 14px;
					color: #333;
					line-height: 1.7rem;
					text-align:justify;
					text-indent:0px;
				}
				&.item-1,
				&.item-2 {
					text-align: right;
					text-indent: 2em;
					.item-img{
						right: -1.3rem;
					}
				}
				&.item-1 {
					top: 4rem;
					left: -49rem;
				}
				&.item-2 {
					top: 15rem;
					left: -45rem;
				}
				&.item-3,
				&.item-4,
				&.item-5 {
					.item-img{
						left: -3.1rem;
					}
				}
				&.item-3 {
					top: 2rem;
					left: 45rem;
				}
				&.item-4 {
					top: 10.5rem;
					left: 46rem;
				}
				&.item-5 {
					top: 18.8rem;
					left: 41rem;
				}
			}
		}
	}
	@media screen and (max-width: 767px) {
		.tab { font-size: .7rem; }
		.title { font-size: 1.7rem; }
		.intro { font-size: .9rem; }
		.content-title { font-size: 1.5rem; }
		.content {
			.img {
				margin-bottom: 1rem;
			}
			.content-intro { font-size: .7rem; }
		}
		.content-2 {
			.card-group {
				width: 100%;
				.card {
					padding: 0 1rem;
					.card-title { font-size: 1.1rem; }
					.card-content { font-size: .7rem; }
				}
			}
		}
		.content-3 {
			.box {
				height: auto;
				.box-bg { display: none; }
				.item {
					position: static;
					width: 100%;
					margin-top: 1.5rem;
					padding: 1.5rem;
					padding-left: 4rem;
					border: 1px solid #d9dadb;
					background: #fff;

					.item-title { font-size: 1rem; }
					.item-content { font-size: .7rem; }
					&.item-1,&.item-2 { text-align: left; text-indent: 0;}

					&.item-1,
					&.item-2,
					&.item-3,
					&.item-4,
					&.item-5 {
						.item-img {
							left: 1rem;
						}
					}
				}
			}
		}
	}
}

/* 背调服务 */
div.productBg{
	.basic {
		color: @basic;
	}
	.container {
		/* width: 67.5rem; */
		width:100%;
		margin: auto;
	}
	.tab {
		line-height: 3.7rem;
		border-bottom: 1px solid #d9dadb;
		font-size: 14px;
		color: #333;
		.tab-hasNext {
			color: @basic;
			&:after {
				content: " > ";
				color: #333;
			}
		}
	}
	.title {
		padding-top: 2.5rem;
		font-size: 34px;
		line-height: 1.7rem;
		color: @basic;
		margin-bottom: 1.5rem;
		text-align: center;
	}
	.intro {
		font-size: 18px;
		color: #666;
		margin-bottom: 3rem;
		text-align: center;
	}
	.content {
		div.part01{
			width: 67.5rem;
			margin: 0 auto;
			div.img{

			}
			div.item{
				width:55%;
			}
		}
		div.part02{
			padding:3rem 14.84375%;
		}
		div.part03{

		}
		.sub-title {
			padding-left: 1rem;
			border-left: 3px solid @basic!important;
			font-size: 24px;
			color: #333;
			margin-bottom: 1.5rem;
		}
		.text {
			font-size: 14px;
			color: #666;
			line-height: 1.7rem;
			margin: -.4rem 0 2.6rem;
		}
		.img {
			float: right;
			width: 31.3rem;
			max-width: 100%;
			height: 26rem;
			background: url('../../../static/img/矢量智能对象.jpg') no-repeat;
			background-size: contain;
		}
		.img-group{
			margin: 0 0 2.75rem;
			.item {
				float: left;
				width: 20%;
				text-align: center;
				font-size: 14px;
				color: #666;
	/* 				margin: 0 3.125rem;
				 */
				 padding: 0 1.2rem;
				img {
					display: block;
					width: 2.5rem;
					height: 2.5rem;
					margin: 3rem auto 1.5rem;
				}
				p {
					line-height: 1.7rem;
					font-size: 14px;
					color: #666;
					text-align:justify;
				}
				div {
					line-height: 1.7rem;
					font-size: 14px;
					color: #666;
				}
			}
			&:after {
				content: '';
				display: block;
				clear: both;
			}
		}
		.card-group {
			margin: -.75rem -1.25rem;
			padding-top: 1.5rem;
			padding-bottom: 3.25rem;
			&:after {
				content: '';
				display: block;
				clear: both;
			}
		}
		.card {
			float: left;
			margin: 0%;
			width: 25%;
			height: 10rem;
			background: none;
			text-align:center;
			img {
				float: left;
				margin: 3rem 4.5rem 3rem 6rem;
				width: 3.7rem;
				height: 4rem;
			}
			.card-title {
				padding-top: 2rem;
				font-size: 22px;
				line-height: 1.1rem;
				color: @basic;
			}
			.card-content {
				padding-top: 1rem;
				margin: -.35rem 0;
				font-size: 14px;
				color: #666;
				line-height: 1.7rem;
			}
			.tips {
				padding-top: 1rem;
				.tip {
					float: left;
					margin-right: .6rem;
					font-size: 14px;
					&:before {
						content: '';
						display: inline-block;
						vertical-align: middle;
						width: .2rem;
						height: .2rem;
						border-radius: 50%;
						margin-right: .3rem;
					}
					&:nth-child(1) {
						color: @basic;
						&:before {
							background: @basic;
						}
					}
					&:nth-child(2) {
						color: #01beb5;
						&:before {
							background: #01beb5;
						}
					}
					&:nth-child(3) {
						color: #e79000;
						&:before {
							background: #e79000;
						}
					}
				}
				&:after {
					content: '';
					display: block;
					clear: both;
				}
			}
		}
		.card {
			float: left;
			width: 25%;
			text-align:center;
			margin-bottom:2rem;
			i.iconfont{
				font-size:40px;
				color: #66b7f0;
			    background-image: -webkit-gradient(linear,0 0,right 0,from(#63aef8),to(#5ce5b8));
			    -webkit-background-clip: text;
			    -webkit-text-fill-color: transparent;

			}
			img {
				width: 3.7rem;
				height: 4rem;
				margin-bottom:2rem;
			}
			.card-title {
				padding-top: 2rem;
				font-size: 22px;
				line-height: 1.1rem;
				color: @basic;
			}
			.card-content {
				padding-top: 1rem;
				margin: -.35rem 0;
				font-size: 14px;
				color: #666;
				line-height: 1.4rem;
			}
			.tips {
				padding-top: 1rem;
				display: inline-block;
				margin: 0 auto;
				padding-left:0px;
				.tip {
					float: left;
					margin-right: .6rem;
					font-size: 14px;
					list-style-type: none;
					&:before {
						content: '';
						display: inline-block;
						vertical-align: middle;
						width: .2rem;
						height: .2rem;
						border-radius: 50%;
						margin-right: .3rem;
					}
					&:nth-child(1) {
						color: @basic;
						&:before {
							background: @basic;
						}
					}
					&:nth-child(2) {
						color: #01beb5;
						&:before {
							background: #01beb5;
						}
					}
					&:nth-child(3) {
						color: #e79000;
						&:before {
							background: #e79000;
						}
					}
				}
				&:after {
					content: '';
					display: block;
					clear: both;
				}
			}
		}
	}
	@media screen and (max-width:767px) {
		.tab {
			font-size: .7rem;
		}
		.title {
			font-size: 1.7rem;
		}
		.intro {
			font-size: .9rem;
		}
		.content {
			.sub-title {
				font-size: 1.2rem;
			}
			.text {
				font-size: .7rem;
			}
			.img {
				float: none;
			}
			.img-group {
				margin-left: 0;
				margin-right: 0;
				.item {
					float: none;
					display: inline-block;
					margin: 0;
					padding: 0 5%;
					width: 50%;
					vertical-align: top;
					p {
						font-size: .7rem;
					}
				}
			}
			.card {
				position: relative;
				width: 90%;
				margin-left: 5%;
				margin-right: 5%;
				padding-left: 43%;
				img {
					position: absolute;
					top: 0; bottom: 0;
					left: 18%;
					margin: auto;
				}
				.card-title {
					font-size: 1.1rem;
				}
				.card-content {
					font-size: .7rem;
				}
				.tips {
					.tip {
						font-size: .7rem;
					}
				}
			}
			div.part01{
				padding-left: 1.5rem;
		    padding-right: 1.5rem;
		    width: 100%;
		    div.item{
		    	width:100%;
		    }
			}
			div.part02{
				padding:1.5rem;
				div.list-item{
					div.img-group{
						div.item{
							float:left;
							height: 14rem;
						}
					}
				}
			}
			div.part03{
				padding-left: 1.5rem;
		    padding-right: 1.5rem;
				div.card-group{
					width:100%;
					margin: 0px;
					font-size: 0px;
					div.card{
						width:50%;
						margin: 0px;
						padding: 0px;
						height: 14rem;
						ul.tips{
							text-align:center;
							li.tip{
								float:none;
								display: inline-block;
							}
						}
					}
				}
			}
		}
	}
}

/* 视频服务 */
div.productVideo{
	.basic {
		color: @basic;
	}
	.container {
		width: 74rem;
		max-width: 90%;
		margin: auto;
	}
	.tab {
		line-height: 3.7rem;
		border-bottom: 1px solid #d9dadb;
		font-size: 14px;
		color: #333;
		.tab-hasNext {
			color: @basic;
			&:after {
				content: " > ";
				color: #333;
			}
		}
	}
	.title {
		padding-top: 2.5rem;
		font-size: 34px;
		line-height: 1.7rem;
		color: @basic;
		margin-bottom: 1.5rem;
		text-align: center;
	}
	.intro {
		font-size: 18px;
		color: #666;
		margin-bottom: 3rem;
		text-align: center;
	}
	.content {
		padding-bottom: 2.15rem;
		div.lt{
			width:45%;
			display: inline-block;
			vertical-align:top;
		}
		div.rt{
			width:50%;
			float:right;
		}
		img {
			float: right;
			width: 31.6rem;
			max-width: 100%;
		}
		.sub-title {
			padding-left: 1rem;
			border-left: 3px solid @basic;
			font-size: 24px;
			color: #333;
			margin-bottom: 1.5rem;
		}
		.ul-title {
			margin-bottom: 1rem;
			font-size: 20px;
			line-height: 1.4rem;
			color: @basic;
			position: relative;
			padding-left: 2.5rem;
			.iconfont {
				position: absolute;
				top: -.1rem; left: 0;
				font-size: 24px;
			}
		}
		ul {
			margin-bottom: 2rem;
			padding-left: 2.5rem;
		}
		li {
			position: relative;
			padding-left: .4rem;
			font-size: 14px;
			margin:0px;
			line-height:1.7rem;
			color: #666;
			&:before {
				content: '';
				position: absolute;
				top: .8rem;
				left: -.4rem;
				width: .15rem;
				height: .15rem;
				background: #04bfb6;
			}
		}
	}
	.content-title {
		text-align: center;
		margin-bottom: 3rem;
		font-size: 30px;
		color: #333;
		&:after {
			content: '';
			margin: 1.2rem auto 0;
			display: block;
			width: 3.3rem;
			height: 3px;
			background: @basic;
			margin-bottom: 3rem;
		}
	}
	.content-2 {
		padding-top: 2.5rem;
		background: #f7f9fa;

		.card-group {
			.card {
				display: inline-block;
			    vertical-align: top;
			    padding: 0 2.5rem;
			    width: 25%;
			    text-align: center;
			    margin-left: -6px;
				.iconfont {
					display: block;
					font-size: 60px;
					margin-bottom: 1.6rem;
					color: #7a8a99;
				}
				.card-title {
					font-size: 20px;
					color: @basic;
					margin-bottom: 1.25rem;
				}
				.card-content {
					font-size: 14px;
					color: #666;
					line-height: 2em;
					margin-bottom: 3rem;
					text-align:justify;
				}
			}
			&:after {
				content: '';
				display: block;
				clear: both;
			}
		}
	}
	.content-3 {
		padding-top: 3rem;
		margin-bottom: 6rem;
		.content-intro {
			color: #666;
			font-size: 14px;
			text-align: center;
			p {
				line-height: 2em;
				text-align:justify;
			}
			margin-bottom: 3rem;
		}
		.img-group {
			.img {
				position: relative;
				vertical-align: middle;
				line-height: 11.25rem;
				height: 11.25rem;
				border: .5rem solid rgba(0,0,0,0);
				width:16.6666%;
				float:left;
				img {
					position: absolute;
					top: 0; bottom: 0;
					left: 0; right: 0;
					margin: auto;
					max-width: 100%;
					max-height: 100%;
				}
			}
		}
	}
	@media screen and (max-width:765px) {
		.tab { font-size: .7rem; }
		.title { font-size: 1.7rem; }
		.intro { font-size: .9rem; }
		.content {
			img {
				float: none;
				margin-bottom: 1rem;
			}
			.sub-title { font-size: 1.2rem; }
			.ul-title { font-size: 1rem; }
			li { font-size: .7rem; }
		}
		.content-title { font-size: 1.5rem; }
		.content-2 {
			.card-group {
				.card {
					padding: 0 1rem;
					width: 50%;
					.iconfont { font-size: 3rem; }
					.card-title { font-size: 1rem; }
					.card-content { font-size: .7rem; }
				}
			}
		}
		.content-3 {
			.content-intro { font-size: .7rem; }
		}
	}
}

/* 个人APP */
div.productApp{
		div.protit{
			width: 67.5rem;
			margin: 0 auto;
			height: 3.5rem;
			line-height: 3.5rem;
			border-bottom: 1px solid #d9dadb;
			font-size: 0px;
			a{
				font-size: 14px;
				color: #0078f0;
				display: inline-block;
				span{
					color: #333;
				}
			}
			span{
				font-size: 14px;
				display: inline-block;
				margin-left: 0.4rem;
				margin-right: 0.4rem;
			}
		}
		div.title{
			margin-bottom: 2.5rem;
    		text-align: center;
    		padding-top: 2rem;
    		h4{
			    font-size: 34px;
			    color: #0078f0;
			    line-height: 2.6rem;
			    margin-bottom: 1rem;
			    font-weight: normal;
    		}
    		p{
    			font-size: 18px;
			    color: #666;
			    line-height: 2.1rem;
    		}
		}
		div.wenzi{
			width:70.8%;
			margin: 0 auto;
		}
		div.part01{
			background: #f7faf9;
    		div.title{
    			h4{
    				font-size: 32px;
				    color: #333;
				    line-height: 3.9rem;
    			}
    			span.line{
    				width: 3.3rem;
				    height: 3px;
				    background: #0078f0;
				    margin: 0 auto;
				    display: block;
    			}
    		}
    		p.wenzi{
				width: 67.5rem;
    			font-size: 14px;
    			color:#666;
    			text-align: justify;
				margin: auto;
    			margin-bottom: 3rem;
    			line-height:1.7rem;
    		}
    		ul{
    			text-align: center;
    			padding-bottom: 3rem;
				li{
					display: inline-block;
					text-align: center;
					width: 14%;
					vertical-align: top;
					div{
						width: 4rem;
						height: 4rem;
						border-radius: 2rem;
						border: 1px solid #0078f0!important;
						color:#0078f0;
						line-height: 4rem;
						margin: 0 auto;
						margin-bottom: 1.5rem;
					}
					p{
						font-size: 16px;
						color:#333;
						letter-spacing: .5px;
					}
				}
    		}
		}
		div.part02{
			background:none!important;
			div.title{
    			h4{
    				font-size: 32px;
				    color: #333;
				    line-height: 3.9rem;
    			}
    			span.line{
    				width: 3.3rem;
				    height: 3px;
				    background: #0078f0;
				    margin: 0 auto;
				    display: block;
    			}
    		}
    		div.container{
    			div.item{
    				height: auto;
    				min-height:15.5rem;
    				&:nth-child(2n+1){
						background: #f7faf9;
    				}
    				&:nth-child(2n+2){
						div.item_main{
							div.pic{
								float: right;
								margin-left: 7rem;
								margin-right: 0;
								transition: all .5s;
								-moz-transition: all .5s;
								-webkit-transition: all .5s;
								-o-transition: all .5s;
							}
						}
    				}
    				div.item_main{
    					width: 66rem;
	    				margin: 0 auto;
	    				padding-top: 2rem;
	    				padding-bottom:1rem;
	    				transition: all .5s;
						-moz-transition: all .5s;
						-webkit-transition: all .5s;
						-o-transition: all .5s;
    					div.pic{
	    					float: left;
	    					width: 21rem;
							margin-right: 7rem;
							transition: all .5s;
							-moz-transition: all .5s;
							-webkit-transition: all .5s;
							-o-transition: all .5s;
	    					img{
								max-width: 100%;
								max-height: 13rem;
	    					}
    					}
    					div.content{
	    					/* float: left; */
	    					display: inline-block;
	    					vertical-align:bottom;
	    					width: 38rem;
	    					p{
	    						font-size: 14px;
	    						color:#333;
	    						line-height: 1.7rem;
	    					}
	    					div{
	    						font-size: 14px;
	    						color:#333;
	    						line-height: 1.7rem;
	    					}
	    					p.tit{
	    						color:#0078f0;
	    						font-size: 22px;
	    						margin: 1.5rem 0;
	    					}
    					}
    				}
    			}
    			div.active{
    				&:last-child,&:nth-child(2),&:nth-child(4),&:nth-child(6){
						div.item_main{
							div.pic{
								margin-left: 4rem;
								float: right ;
								margin-right: 0;
								transition: all .5s;
								-moz-transition: all .5s;
								-webkit-transition: all .5s;
								-o-transition: all .5s;
							}
						}
    				}
    				div.item_main{
    					div.pic{
    						transition: all .5s;
							-moz-transition: all .5s;
							-webkit-transition: all .5s;
							-o-transition: all .5s;
	    					margin-right: 4rem;
	    				}
    				}
    			}
    		}
		}
		div.part03{
			div.title{
    			h4{
    				font-size: 32px;
				    color: #333;
				    line-height: 3.9rem;
    			}
    			span.line{
    				width: 3.3rem;
				    height: 3px;
				    background: #0078f0;
				    margin: 0 auto;
				    display: block;
    			}
    		}
    		div.container{
    			width: 46.6rem;
    			margin: 0 auto;
    			padding-bottom: 3.5rem;
    			text-align:center;
    			>div{
    				width: 23.3rem;
    				float: left;
    			}
    			div.code{
    				float:none;
    				display: inline-block;
    				margin:0px;
    				text-align: center;
    				vertical-align:top;
    				p{
    					margin-top: .5rem;
    					font-size: 20px;
    					a{
    						color:#0078f0;
    					}
    				}
    			}
    			div.phone{
    				padding-top: 4.5rem;
    				float:none;
    				display: inline-block;
    				vertical-align:top;
    				div.item{
    					display: inline-block;
    					margin:0px;
    					width:40%;
    					div.img-editable{
    						background:none!important;
    					}
    				}
    			}
    		}
		}
		@media screen and (max-width:767px){
			div.part01{
				padding-left:1.5rem;
				padding-right:1.5rem;
				ul{
					li{
						width: 30%;
					}
				}
				p.wenzi{
					width: 100%;
				}
			}
			div.part02{
				div.container{
					div.item{
						padding-left:1.5rem;
						padding-right:1.5rem;
						height: 32rem;
						div.item_main{
							width:100%;
							div.pic{
								width:100%;
								margin:0px;
								text-align:center;
								img{
									margin: 0 auto;
									height:100%;
									display: inline-block;
								}
							}
							div.content{
								width: auto;
								padding-top:1rem;
							}
						}
					}
				}
			}
		}
}
