.solTitle {
  font-size: 1.6rem;
  color: #333333;
  text-align: center;
  line-height: 2.8rem;
}
.solTop {
  text-align: center;
  margin-top: 4rem;
}
.solTop h3 {
  font-size: 2rem;
  color: #66b7f0;
  margin-bottom: 1rem;
  /* font-family: 'Monaco'; */
}
.solTop h4 {
  font-size: 1.7rem;
  color: #333333;
  margin-bottom: 4rem;
}
.solTop ul li {
  display: inline-block;
  width: 19rem;
  text-align: center;
  max-width: 30%;
  vertical-align: top;
}
.solTop ul li .img {
  width: 7.5rem;
  height: 7.5rem;
  border: 1px solid #66b7f0;
  line-height: 7.5rem;
  border-radius: 50%;
  position: relative;
  display: inline-block;
}
.solTop ul li .img i {
  color: #66b7f0;
  background-image: -webkit-gradient(linear, 0 0, right 0, from(#63aef8), to(#5ce5b8));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.solTop ul li .img1 i {
  font-size: 3.2rem;
  /* margin-left: -1.6rem;
					margin-top: -1.20rem; */
}
.solTop ul li .img2 i {
  font-size: 3.3rem;
  /* margin-left: -1.65rem;
					margin-top: -1.8rem; */
}
.solTop ul li .img3 i {
  font-size: 3.5rem;
  /* margin-left: -1.75rem;
					margin-top: -1.74rem; */
}
.solTop ul li p {
  margin: auto;
  font-size: 1.1rem;
  color: #333333;
  margin-top: 2rem;
  display: block;
  line-height: 1.5;
  height: 66px;
  max-width: 70%;
}
.solTedian {
  margin-top: 5rem;
}
.solTedian h3 {
  text-align: center;
  font-size: 1.6rem;
  color: #333333;
  margin-bottom: 2.1rem;
}
.solTedian .content {
  background-color: #f7f9fa;
  position: relative;
}
.solTedian .content .item {
  text-align: center;
  width: 33.33%;
  float: left;
  background-color: #f7f9fa;
  padding-top: 3.5rem;
  padding-bottom: 3.4rem;
  overflow: hidden;
}
.solTedian .content .item .main {
  display: inline-block;
  text-align: left;
  max-width: 60%;
}
.solTedian .content .item .icon {
  text-align: center;
  margin-bottom: 2.5rem;
}
.solTedian .content .item .icon i {
  color: #a7bed8;
  font-size: 53px;
}
.solTedian .content .item .name {
  font-size: 18px;
  color: #0078f0;
}
.solTedian .content .item .name h4 {
  line-height: 1;
  color: #0078f0;
}
.solTedian .content .item .name span {
  display: inline-block;
  width: 1.8rem;
  height: 2px;
  background-color: #0078f0;
  margin-top: .8rem;
}
.solTedian .content .item .text {
  font-size: 14px;
  color: #666666;
  line-height: 30px;
  margin-top: .5rem;
  height: 180px;
  text-align: justify;
}
.solTedian .content .item:nth-child(2) {
  background-color: #f0f1f2;
}
.solTedian .content .swiper-button-prev,
.solTedian .content .swiper-button-next {
  position: absolute;
  top: 50%;
  width: 1rem;
  height: 1.7rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  display: none;
}
.solTedian .content .swiper-button-prev {
  left: 6%;
  background-image: url('../../../static/img/solution/j1.png');
}
.solTedian .content .swiper-button-next {
  right: 6%;
  background-image: url('../../../static/img/solution/j2.png');
}
.solPingtai {
  margin-top: 2.7rem;
}
.solPingtai .img {
  margin-top: 2.7rem;
  text-align: center;
}
.solPingtai .img img {
  max-width: 98%;
}
.container {
  width: 68rem;
  max-width: 100%;
  margin: auto;
}
.solFangan {
  margin-top: 2.7rem;
  margin-bottom: 7.5rem;
}
.solFangan .content {
  margin-top: 1.6rem;
}
.solFangan .content .item {
  position: relative;
  width: 32.5rem;
  max-width: 90%;
  padding-left: 6.8rem;
  padding-right: 3rem;
  background-color: #f7f9fa;
  height: 13.1rem;
  padding-top: 2.6rem;
  float: left;
  margin-bottom: 2.5rem;
  transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
}
.solFangan .content .item:nth-child(2n) {
  margin-left: 2.5rem;
}
.solFangan .content .item:hover {
  box-shadow: .5rem .5rem 1rem 0  #cacacc;
}
.solFangan .content .item .iconfont {
  position: absolute;
  top: 2rem;
  left: 3rem;
  font-size: 2.3rem;
  color: #0078f0;
}
.solFangan .content .item .name {
  font-size: 22px;
  color: #0078f0;
  margin-bottom: .9rem;
  letter-spacing: 1px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  cursor: default;
}
.solFangan .content .item .text {
  font-size: 12px;
  color: #666666;
  line-height: 1.6rem;
  height: 4.8rem;
  overflow: hidden;
  letter-spacing: 1px;
  text-align: justify;
}
.solFangan .content .item .more {
  text-align: right;
}
.solFangan .content .item .more a {
  display: inline-block;
  width: 6.8rem;
  color: #0078f0;
  height: 1.8rem;
  text-align: center;
  line-height: 1.8rem;
  border-radius: 0.9rem;
  font-size: 14px;
  background-image: url('../../../static/img/solution/bg1.png');
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.solFangan .content .item .more a:hover {
  color: #fff;
  background-image: url('../../../static/img/solution/bg2.png');
}
.solFangan .moreItem {
  width: 100%;
  height: 3.4rem;
  line-height: 3.4rem;
  text-align: center;
  color: #66b7f0;
  background-color: #f7f9fa;
}
@media screen and (max-width: 840px) {
  .solFangan .content .item {
    margin: auto;
    margin-bottom: 20px;
    width: 90%;
    margin-left: 5%;
  }
  .solFangan .content .item:nth-child(2n) {
    margin-left: 5%;
  }
}
@media screen and (max-width: 768px) {
  .solFangan {
    margin-bottom: 1.5rem;
  }
  .solFangan .content .item {
    margin: auto;
    margin-bottom: 1.5rem;
    width: 100%;
    margin-left: 0;
    max-width: 100%;
  }
  .solFangan .content .item:nth-child(2n) {
    margin-left: 0;
  }
  .solTop {
    margin-top: 3rem;
  }
  .solTop ul li .img {
    width: 6.5rem;
    height: 6.5rem;
  }
  .solTedian {
    margin-top: 3rem;
  }
  .solTedian .content .item {
    width: 100%;
  }
  .solTedian .content .item .icon i {
    font-size: 53px;
  }
  .solTedian .content .item .name h4 {
    font-size: 1.1rem;
  }
  .solTedian .content .item .text {
    font-size: .9rem;
    line-height: 2;
    height: 9rem;
  }
  .solTedian .content .swiper-button-prev,
  .solTedian .content .swiper-button-next {
    display: none;
  }
  .solFangan .content .item {
    height: auto;
    padding-bottom: 1rem;
  }
  .solFangan .content .item:hover {
    box-shadow: 0 0 0 0 #cacacc;
  }
  .solFangan .content .item .name {
    font-size: 1.1rem;
  }
  .solFangan .content .item .text {
    font-size: .9rem;
    margin-bottom: .7rem;
  }
  .solFangan .content .item .more a {
    width: 7.8rem;
    font-size: .9rem;
    height: 2.3rem;
    line-height: 2.3rem;
  }
}
