.bread {
  width: 71.25rem;
  max-width: 92.5%;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.bread ul li {
  float: left;
  font-size: 14px;
  color: #0078f0;
  margin-right: .35rem;
}
.bread ul li a {
  color: #0078f0;
}
.bread ul li:after {
  content: ">";
  margin-left: .35rem;
  color: #333333;
}
.bread ul li:last-child {
  color: #333333;
}
.bread ul li:last-child:after {
  content: "";
}
.bTop {
  border-top: 1px solid #d9dadb;
}
.detailCon {
  width: 71.25rem;
  max-width: 92.5%;
  margin: auto;
  padding-top: 2.5rem;
  margin-bottom: 5rem;
}
.detailCon h3 {
  font-size: 34px;
  color: #0078f0;
  text-align: center;
  margin-bottom: 1.2rem;
}
.detailCon p {
  font-size: 14px;
  color: #333;
  /* margin-bottom: 3rem; */
  text-indent: 0em;
  line-height: 1.7em;
}
.detailCon .text {
  font-size: 16px;
  color: #333333;
  line-height: 36px;
  /* text-indent: 32px; */
  margin-bottom: 2.5rem;
}
.detailCon .text p {
  text-align: justify;
}
.detailCon .text p:after {
  content: '';
  display: block;
  clear: both;
}
.detailCon .text p img {
  float: none!important;
  max-width: 100%;
  display: inline-block;
  padding-top: 2rem;
  width: 80%;
  margin-left: 10%;
}
@media screen and (max-width: 768px) {
  .bTop {
    border-top: none;
  }
  .bread {
    display: none;
  }
  .detailCon h3 {
    font-size: 1.7rem;
  }
  .detailCon .text {
    font-size: .9rem;
    line-height: 1.8rem;
  }
}
